body[b-lg0mqsl700] {
}
.info-bar[b-lg0mqsl700] {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Light grey background */
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
    height: 35px;
}
