body[b-l8aj7j0x4f] {
}

.vTitle[b-l8aj7j0x4f]{
    text-align: center;
}

.vBack[b-l8aj7j0x4f] {
    display: flex;
    justify-content: center;
    align-items: start;
}

.green-button[b-l8aj7j0x4f] {
    background-color: #5CA93B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}