@page "/about"

<PageTitle>О нас</PageTitle>

<h3>О нас</h3>
<div>
    Мы — команда "Жгут". Сейчас команда состоит из трёх человек.
</div>
<div>
    Иван Тарский - разработчик
</div>

<div>
    Дмитриева Маша - менеджер
</div>

<div>
    Александров Дагай - дизайнер
</div>

@code {

}
