@page "/zov"

<PageTitle>СВО</PageTitle>

<h3 style="text-align: left"> Запись на специальную военную операцию</h3>
<div class="vBack">
    <a href="https://contract.gosuslugi.ru/" class="green-button">Записаться на СВО</a>
</div>

<div class="svo-importance">
    <h4>Почему важно записаться на службу в армию</h4>
    <ul>
        <li>Развитие личных качеств: Армейская служба помогает развить дисциплину, ответственность и лидерские качества.</li>
        <li>Физическая подготовка: В армии молодые люди проходят интенсивную физическую подготовку.</li>
        <li>Патриотизм и служение Родине: Служба в армии позволяет ощутить гордость за свою страну.</li>
        <li>Новые знакомства и связи: В армии можно встретить много новых людей и завести полезные связи.</li>
        <li>Карьерные перспективы: Служба в армии может стать отличным стартом для карьеры.</li>
        <li>Умение работать в команде: Армия учит работать в команде и действовать слаженно.</li>
        <li>Поддержка государства: Военнослужащие и ветераны получают различные льготы и привилегии от государства.</li>
    </ul>
    <p>Записаться на службу в армии - это ответственный шаг, который может стать важным и полезным опытом на всю жизнь.</p>
</div>


@code {

}
